.message {
  background-color: #f3dcc6;
  height: 40vh;
  padding: 10px 0px;
 
}

.btn{
 

      background-color: #e8bf96;
    color: black;
    padding: 13px 67px;
    margin-top: 4px;
    border: none;
}