.login{
 background-color: #e8bf96;
    width: 100%;
    padding: 16px 11px;
    border: none;

}

.fromlogin{
padding-top: 66px ;
}


.registerform{
    padding-top: 66px;
}


.register{
background-color: #e8bf96;
    width: 100%;
    padding: 16px 11px;
    border: none;
}

.group{
    display: flex;
  
    width: 100%;
    margin: 10px;

    input{
        width: 270px;
    }

    
}

.from {
    margin-left: 43px;
}

.radio{
    
    margin-left: 114px;

}

.btn {
    background-color: #e8bf96;
    padding: 16px 69px;
    margin-top: 20px;
    border: none;
}