.card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    padding: 39px 11px;
    .btn{
        background-color: #e8bf96;
        padding: 16px 44px;
        color: black;
        font-weight: 600;
    }

    p{
        color: black;
        font-size: 23px;
       
    }

}