.descabout {
   line-height: 52px;
    color: black;
    font-family: system-ui, system-ui, sans-serif;
    font-size: 18px;
    padding: 8px 38px;
    color: black;
    font-family: system-ui, system-ui, sans-serif;
    font-weight: 300;
    
}
.title{
  margin-left: 27px;
}